body {
    display: flex;
    justify-content: space-around;
    background-color: rgb(179, 214, 223);
    background-image: url(./logo.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.btn {
    width: 150px;
    height: 64px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    transition: '1500ms';
    cursor: pointer;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d
}

.form-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(238, 238, 238);
}

.input-element {
    font-size: 20px;
    height: 28px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.container {
    border: '1px solid #000';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    padding: 25px;
}

td {
    padding: 0px 25px 0px 25px;
}

.flex-cont {
    overflow-y: auto;
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: 300px;
}

